.exportContainer {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 50px;
  p {
    text-align: center;
  }
  button {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    border: none;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    background: rgb(60, 145, 255);
    color: white;
  }
}