.mainContainer {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  @media(max-width: 520px) {
    margin-top: 50px;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
    @media(max-width: 520px) {
      font-size: 24px;
    }
  }
  a {
    color: rgb(19, 149, 255);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
  hr {
    opacity: .3;
    max-width: 150px;
  }
}