.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 480px) {
    height: auto;
    width: auto;
  }
  .selector {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    @media(min-width: 620px) {
      margin-top: 100px;
    }
    h1 {
      text-align: center;
      color: #333;
      margin-top: 0;
      @media(max-width: 480px) {
        font-size: 24px;
      }
    }
    p {
      margin-top: 30px;
    }
    select {
      width: 100%;
      max-width: 1024px;
      height: 60px;
      border-radius: 15px;
      padding-left: 10px;
      border: 3px solid rgb(247, 247, 247);
      background: rgb(247, 247, 247);
      font-size: 16px;
      color: black;
      transition: background .3s, border .3s;
      cursor: pointer;
      &:focus {
        background: white;
        border: 3px solid rgb(17, 140, 255);
      }
    }
  }
}